@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  font-family: "open sans";
}

.mrgn {
  margin: 0vw 5.556vw;
}

header {
  color: #ffffff;
}

#header1 {
  background-image: url(assets/top.png);
  background-size: cover;
  height: 55.972vw;
  display: flex;
  align-items: center;
}

#header2 {
  background-image: url(assets/bottom.png);
  background-size: cover;
}

#heroContent {
  margin: 10vw 0vw;
}

h1 {
  font-weight: 800;
  font-size: 3.85vw;
}

.pHeader {
  font-size: 1.95vw;
  margin: 2vw 0vw 3.5vw 0vw;
}

.btn {
  width: 10.556vw;
  height: 3.167vw;
  background-color: #0093be;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginIcons {
  margin-right: 1.5vw;
}

#header2 {
  height: 42.087vw;
  display: flex;
  align-items: center;
}

#blueSec {
  display: flex;
  justify-content: space-around;
}

.featureBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.featureBlock > h4 {
  margin: 0.5vw 0vw;
  font-weight: 700;
}

#features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3vw;
  column-gap: 4vw;
}

#feaDes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 16vw;
}
#feaDes > p {
  width: 30vw;
  text-align: center;
  font-size: 1.4vw;
}

#feaDes > h3 {
  text-align: center;
  font-weight: 800;
  font-size: 2.75vw;
  margin-bottom: 1.5vw;
}

main {
  margin: 9vw 5.556vw;
}

h2 {
  font-size: 3.6vw;
  font-weight: 800;
}

.mainP {
  width: 25.601vw;
  font-size: 1.4vw;
}

.stepName {
  font-size: 1.95vw;
  font-weight: 800;
  margin: 1.5vw 0vw;
}

.divider {
  display: block;
  border-radius: 20px;
  width: 5vw;
  height: 0.3vw;
  background-color: #e253ac;

  margin-bottom: 1.5vw;
}

.steps {
  margin-top: 14vw;
  display: flex;
  justify-content: space-between;
}
#video {
  margin: 9vw -5.556vw;
  color: white;
  background-color: #2f3845;
  display: flex;
  align-items: center;
}

#videoWrap {
  margin: 5.556vw;
}

#videoWrap > p {
  width: 21.181vw;
  margin-top: 1.5vw;
  font-size: 1.4vw;
  color: #c8c8c8;
}

video {
  margin: 9vw 2.6vw;
  width: 58.7vw;
  height: 33vw;
  background-color: white;
}

h2 {
  display: flex;
}

#underline {
  margin-left: 1vw;
  position: relative;
}

#underlined {
  position: absolute;
  top: 3.3vw;
  width: 16vw;
  height: 1vw;
  background-color: #e253ac;
  z-index: -1;
}

.bgNum {
  position: relative;
}

.bgNumber {
  position: absolute;
  top: -13.3vw;
  font-size: 16vw;
  font-weight: 900;
  color: #f6cae5;
  z-index: -1;
}

footer {
  margin-top: -9vw;
  height: 15.208vw;
  background-color: #0093be;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4 {
  font-size: 1.2vw;
}

.featureBlock > p {
  font-size: 1.1vw;
}

img {
  max-width: 100%;
}

.btn > p {
  font-size: 1.1vw;
}

.mrgnl {
  margin-right: 5.556vw;
}

@media only screen and (max-width: 530px) {
  #header1 {
    background-image: url(assets/mobile-cover.png);
    height: 200vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #soMe {
    display: none;
  }
  #header2 {
    background-image: url(assets/rectangle-mobile.png);
    height: 221.014vw;
    justify-content: center;
    align-items: unset;
  }

  #blueSec {
    flex-direction: column-reverse;
  }

  #features {
    margin: ;
  }

  #feaDes {
    margin: 0;
  }

  #feaDes > h3 {
    font-size: 6vw;
    margin-bottom: 4vw;
  }

  #feaDes > p {
    font-size: 3vw;
    width: unset;
  }
  .steps {
    flex-direction: column;
  }

  #video {
    flex-direction: column;
  }

  h1 {
    font-size: 10vw;
  }

  .btn {
    width: 30.556vw;
    height: 9vw;
  }
  .btn > p {
    font-size: 2.8vw;
  }
  .pHeader {
    font-size: 4vw;
    margin: 3vw 0vw 4.5vw 0vw;
  }

  #heroContent {
    margin: 65vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    display: unset;
    font-size: 8vw;
    width: 70vw;
  }

  #underline {
    margin-left: 0.2vw;
  }

  #underlined {
    left: 0;
    top: 7.5vw;
    width: 36.3vw;
    height: 2.3vw;
  }

  .stepName {
    font-size: 4vw;
  }

  .mainP {
    font-size: 3vw;
    width: 60vw;
    margin-bottom: 10vw;
  }

  .bgNumber {
    top: -15.3vw;
    font-size: 50vw;
    left: -12vw;
  }

  #videoWrap > p {
    width: 70vw;
    margin-top: 1.5vw;
    font-size: 3vw;
    color: #c8c8c8;
  }

  video {
    margin: 9vw 2.6vw;
    width: 90vw;
    height: 50.7vw;
    background-color: white;
  }
}
